body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


.easyQuestionIcon {
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}

.hardQuestionIcon {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
}


.game-module {
    display: flex;
    max-width: 1194px;

    width: 1194px;
    height: 796px;
    margin: auto;
}

#first {
    position: absolute;
    width: 30px;
    background-color: green;
    transition: all .65s ease-in-out;
}

#second {
    position: absolute;
    width: 30px;
    background-color: yellow;
    transition: all .65s ease-in-out;
}

#mainField {
    position: relative;
}

.questionButton {
    margin: 10px;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding: 30px 30px;

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.header {
    background-image: url('headerImg.jpg');
    width: 1194px;
    height: 796px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.map {
    background-image: url('map.jpg');
    background-size: 1194px 796px;

    width: 1194px;
    height: 796px;
    margin: auto;
}

.header-text {
    text-align: center;
    max-width: 70%;
    font-size: 50px;
    color: white;
    border: 3px solid white;
    z-index: 1;
    margin: 10px;
}


.header-b {
    position: absolute;
    width: 1194px;
    height: 796px;
    background-color: black;
    opacity: .6;
    z-index: 0;
}

.control-panel {
    margin: 30px;
}

.question-panel {
    cursor: pointer;
    border: 1px solid black;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin: 15px;

}

.question-panel p {
    font-size: 30px;
}

.question-panel a {
    font-size: 30px;
}

.closed-answer {
    display: none;
}

.answer {
    font-weight: 700;
}

.close-panel {
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('openPanel.png');
    transition: all .65s ease-in-out;
    color: black;
    background-color: white;
    size: 20px;
}


.close-panel-active {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    background-color: #444;
    transition: all .65s ease-in-out;
    background-image: url('closePanel.png');
    size: 20px;
    
}

.normal-question-panel {
    background-color: hsla(231, 47%, 46%, 1);
    color: white;
}


.hard-question-panel {
    background-color: hsla(359, 74%, 63%, 1);
    color: white;
}

.answer-material {
    max-width: 1280px;
    max-height: 720px;
}

#dialog-panel {
    width: 100%;
    height: 100%;
}

#question-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.up-control {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.route-control {
    font-size: 30px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.normal {
    background-color: hsla(231, 47%, 46%, 1);
    color: white;
}

.hard {
    background-color: hsla(359, 74%, 63%, 1);
    color: white;
}